@keyframes move-background {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to { 
        transform: translate3d(1000px, 0px, 0px);
    }
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    animation: move-background 70s linear infinite;
}

.clouds {
    width: 150%;
    height: 150%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: 2000px 2000px; /* Increased size to show less clouds */
    position: absolute;
    right: 0;
    top: -10%;
    left: -10%;
    bottom: 0;
    z-index: 4;
    /* animation: move-background 150s linear infinite; */
    transform-origin: center center; /* Setting the origin for transformations */
    transition: transform 0.75s ease-out; /* Adjusted duration and timing function */
    transform: translate(0, 0);

}

img {
    height: 70vh;
    width: 70vh;
    position: absolute;
    z-index: 2;
    right: 20px;
}

body {
    font-family: Arial, sans-serif;
    display: flexbox;
    /* cursor: none; */
}

.text-container {
    position: relative;
    z-index: 3;
    display: flex;            /* Enables Flexbox */
    flex-direction: column;   /* Makes children (content) stack vertically */
    align-items: center;     /* Centers children horizontally */
    justify-content: center; /* Centers children vertically */
    position: relative;
    z-index: 3;
    margin: 20px 0;
    padding: 20px;
}

.about-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    margin-bottom: 100px;  
    max-width: 50%;
    margin: 0 auto; /* centers the container on the page */
    padding: 20px;
    text-align: left;
}

/* ALL THE MOON STUFF */
.moon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.moon {
    width: 300px;  /* Adjust for the desired size */
    height: 300px; /* Adjust for the desired size */
    background-color: black;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.shadow {
    position: absolute;
    height: 100%;
    background-color: white;
    transition: all 0.3s ease-in-out; /* For smoother transitions between moon phases */
}

.shadow.left {
    left: 0;
    width: 50%;
}

.shadow.right {
    right: 0;
    width: 50%;
}

#percentage {
    margin-top: 10px;
}

/* TEXT */
h1, h2, h3, {
    text-align: center;
}

h1 {
    font-size: 60px;
    font-family: "Helvetica", serif;
    font-weight: 70;
    font-style: normal;
    padding-top: 15%;
    padding-bottom: 5%;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: "Helvetica", serif;
    font-weight: 100;
    font-style: normal;
}

h3 {
    font-family: "Helvetica", serif;
    font-weight: 600;
    font-size: 27px;
    font-style: normal;
    padding: 30px;
}

p {
    font-family: "Helvetica", serif;
    font-weight: 200;
    font-size: 18px;
    font-style: normal;
    line-height: 1.5;
}

a {
    color: inherit;
}
div.about-section .about-heading {
    font-size: 24px;
    font-family: "Helvetica", serif;
    font-weight: 100;
    font-style: italic;
    margin: 15px;
    transition: font-weight 0.5s ease;
    text-align: center;
}

div.about-section .about-heading:hover {
    font-weight: 800;
}