body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

#infocontainer {
    position: absolute;
    top: 10vw; /* Adjust as needed */
    left: 15vw; /* Adjust as needed */
    min-height: fit-content;
    border: 1px solid aliceblue; /* Temporary border for visibility */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align children to the start of the container (left side) */
    padding: 10px;
}

#aspectInfo {
    color: whitesmoke;
    font-size: 30px; /* Adjust as needed */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 10px; /* Space between text and icon */
}

#aspectIcon {
    display: none; /* Initially hidden, shown when an aspect is selected */
    width: 70px; /* Or any other size */
    height: auto; /* Maintain the aspect ratio of the SVG */
}

  
#circleContainer {
    width: min(50vw, 100vh); /* Smaller of 50% viewport width or 100% viewport height */
    height: min(50vw, 100vh); /* Same as width to maintain a circle */
    max-width: 550px;
    max-height: 550px;
    min-width: 300px;
    min-height: 300px;
    position: relative;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    padding: 10px;
}

.centerPoint {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: whitesmoke;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aspectDots {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellowgreen;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) translate(calc(50% * 195 / 275)) rotate(-0deg);
}
