body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

#infocontainer {
    position: absolute;
    top: 3vh; /* Adjust as needed */
    left: auto;
    display: flex;
    flex-direction: row; /* Items in a row */
    align-items: center; /* Center items vertically */
    /* border: 1px solid aliceblue; Temporary border for visibility */
    padding: 10px; /* Add some padding inside the container */
    white-space: nowrap; /* Prevent the content from wrapping */
}

#aspectInfo {
    color: whitesmoke;
    font-size: 1.6em; /* Adjust as needed */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center; /* Align text vertically in case the icon is taller */
}

#aspectIcon {
    display: none; /* Initially hidden, shown when an aspect is selected */
    width: auto; /* Adjust the width as needed, or use auto */
    padding: 10px;
    max-width: 70px;
    max-height: 50px;
}

#circleContainer {
    width: min(40vw, 100vh); /* Smaller of 50% viewport width or 100% viewport height */
    height: min(40vw, 100vh); /* Same as width to maintain a circle */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid whitesmoke;
    border-radius: 50%;
}

.centerPoint {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aspectDots {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) translate(calc(50% * 195 / 275)) rotate(-0deg);
}
