@keyframes move-background {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to { 
        transform: translate3d(1000px, 0px, 0px);
    }
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    animation: move-background 70s linear infinite;
}

.clouds {
    width: 150%;
    height: 150%;
    background: transparent url("assets/clouds.png") repeat;
    background-size: 1800px 1800px; /* Increased size to show less clouds */
    position: absolute;
    right: 0;
    top: -10%;
    left: -10%;
    bottom: 0;
    z-index: 5;
    /* animation: move-background 150s linear infinite; */
    transform-origin: center center; /* Setting the origin for transformations */
    transition: transform 0.75s ease-out; /* Adjusted duration and timing function */
    transform: translate(0, 0);

}

img {
    height: 70vh;
    width: 70vh;
    position: absolute;
    z-index: 5;
    right: 20px;
}

body {
    font-family: Arial, sans-serif;
    display: flexbox;
    cursor: grab;
}

.text-container {
    position: relative;
    z-index: 2;
    display: flex;            /* Enables Flexbox */
    flex-direction: column;   /* Makes children (content) stack vertically */
    align-items: center;     /* Centers children horizontally */
    justify-content: center; /* Centers children vertically */
    position: relative;
    z-index: 1;
    margin: 2px 0;
    padding-bottom: 100px;
    user-select: none;
}

.about-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    margin-bottom: 100px;  
    max-width: 50%;
    margin: 0 auto; /* centers the container on the page */
    padding-top: 2px;
    text-align: left;
}
/* TEXT */
h1, h2, h3 {
    text-align: center;
    z-index: 1;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h1 {
    font-size: 60px;
    font-family: "Helvetica", serif;
    font-weight: 10;
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    letter-spacing: -2.5px;
    line-height: 1.5;
    user-select: none;
}

h2 {
    font-size: 30px;
    font-family: "Helvetica", serif;
    font-weight: 600;
    font-style: normal;
}
/* body text basically */
h3 {
    font-family: "Helvetica", serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    line-height: 0.5;
}

p {
    font-family: "Helvetica", serif;
    font-weight: 200;
    font-size: 18px;
    font-style: normal;
    line-height: 1.5;
}

a {
    color: inherit;
}
div.about-section .about-heading {
    font-size: 24px;
    font-family: "Helvetica", serif;
    font-weight: 100;
    font-style: italic;
    margin: 15px;
    transition: font-weight 0.5s ease;
    text-align: center;
}

div.about-section .about-heading:hover {
    font-weight: 800;
}